.compRegister {
    background:linear-gradient(to right, rgb(101, 172, 192), rgb(164, 50, 164));  
    padding-top: 3%;
    padding-bottom: 3%;    
}

.imagenRegister {
    height: 120px;
    margin-left: 10%;
    margin-bottom: 3%;
}

.form-control{
    margin-bottom: 0%;
}

#colPers2 {    
    background-color: rgb(137, 194, 238);    
    padding: 1% 2% 1% 2%;   
    border-radius: 10px; 
    font-size: 17px; 
}

#btnRegistrar {
    margin-top: 2%;
    background-color: rgb(54, 54, 221);
    border: 0px;   
}



